.wrapper {
    max-width: 36rem;

    //responsive
    @include desktop-responsive() {
        max-width: 160rem;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% 80%;
    }
}

//header
.header {
    padding: 0 2rem;
    margin: 2rem 0;

    //responsive
    @include desktop-responsive() {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 0 8rem;
        margin: 3rem 0 0 0;
    }

    @include responsive(110rem) {
        padding: 0 10rem;
    }
}

.header__logo {
    img {
        width: 7rem;

        //responsive
        @include desktop-responsive() {
            width: 10rem;
        }

        @include responsive(110rem) {
            width: 12rem;
        }
    }
}


//image section
.image {
    @include desktop-responsive() {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

.image__container {
    min-width: 18.75rem;
    max-width: 48rem;

    img {
        width: 100%;
    }

    //responsive
    @include desktop-responsive() {
        max-width: none;
    }
}



//content
.content {
    text-align: center;
    padding: 0 2rem;

    //responsive
    @include desktop-responsive() {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: left;
        padding: 0 8rem;
    }

    @include responsive(110rem) {
        padding: 0 10rem;
    }
}

.content__title {
    font-family: $ff-semibold;
    font-weight: $fw-semibold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0 1.5rem 0;
    letter-spacing: 0.5rem;
    color: $darkGrayishRed;

    &--special {
        font-family: $ff-light;
        font-weight: $fw-light;
        @include mainTextColor();
    }

    //responsive
    @include desktop-responsive() {
        font-size: 3rem;
    }

    @include responsive(110rem) {
        font-size: 5rem;
    }
}

.content__caption {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 1rem;
    line-height: 1.4;
    @include mainTextColor();

    //responsive
    @include desktop-responsive() {
        font-size: 1.1rem;
    }

    @include responsive(110rem) {
        font-size: 1.5rem;
    }
}

.content__form {
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__group {
    display: flex;
    position: relative;
    width: 100%;
}

.content__input {
    width: 100%;
    border: 1px solid $desaturatedRed;
    border-radius: 2rem;
    outline: none;
    padding: 0.8rem 1.5rem;
    background: $gradient;  
    opacity: 0.5;

    //responsive
    @include desktop-responsive() {
        padding: 1.3rem 1.8rem;
    }

    @include responsive(110rem) {
        padding: 1.8rem 2.5rem;
        border-radius: 3rem;
    }
}

.content__input::placeholder {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 0.9rem;
    @include mainTextColor();

    //responsive
    @include desktop-responsive() {
        font-size: 1.1rem;
    }

    @include responsive(110rem) {
        font-size: 1.5rem;
    }
}


.content__btn {
    background-image: $gradient1;
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.8rem 0 hsla(0, 93%, 68%, 0.3);

    //responsive
    @include desktop-responsive() {
        padding: 1.2rem 2.5rem;
    }

    @include responsive(110rem) {
        padding: 1.7rem 3rem;
        border-radius: 3rem;
    }
}

.content__errormsg {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    color: $softRed;
    font-size: 0.8rem;
    margin: 0.5rem 0 0 1rem;
    display: none;
}