.wrapper {
    max-width: 36rem;

    //responsive
    @include desktop-responsive() {
        display: flex;
        flex-direction: column;
        max-width: 90rem;
        position: relative;
    }
}

//header
.header {
    padding: 0 2rem;
    margin: 2rem 0;

    //responsive
    @include desktop-responsive() {
        position: absolute;
        width: 50%;
        padding: 0 9rem;
        margin-top: 3rem;
    }
}

.header__logo {
    img {
        width: 7rem;

        //responsive
        @include desktop-responsive() {
            width: 9rem;
        }
    }
}


//main
.main {

    //responsive
    @include desktop-responsive() {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
}


//image section
.image {

    //responsive
    @include desktop-responsive() {
        width: 50%;
        height: 100vh;
    }
}

.image__container {
    min-width: 18.75rem;
    max-width: 48rem;

    //responsive
    @include desktop-responsive() {
        max-width: none;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;

        //responsive
        @include desktop-responsive() {
            height: 100%;
            object-fit: contain;
            object-position: right;
        }
    }
}


//content
.content {
    text-align: center;
    padding: 0 2rem;

    @include desktop-responsive() {
        width: 50%;
        text-align: left;
        padding: 0 9rem;
    }
}

.content__title {
    font-family: $ff-semibold;
    font-weight: $fw-semibold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0 1.5rem 0;
    letter-spacing: 0.5rem;
    color: $darkGrayishRed;

    &--special {
        font-family: $ff-light;
        font-weight: $fw-light;
        @include mainTextColor();
    }

    //responsive
    @include desktop-responsive() {
        font-size: 3.5rem;
    }
}

.content__caption {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 1rem;
    line-height: 1.4;
    @include mainTextColor();
}

.content__form {
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__group {
    display: flex;
    position: relative;
    width: 100%;
}

.content__input {
    width: 100%;
    border: 1px solid $desaturatedRed;
    border-radius: 2rem;
    outline: none;
    padding: 0.8rem 1.5rem;
    background: $gradient;
    opacity: 0.5;

    //responsive
    @include desktop-responsive() {
        padding: 0.9rem 1.5rem;
    }
}

.content__input::placeholder {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 0.9rem;
    @include mainTextColor();
}


.content__btn {
    background-image: $gradient1;
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.8rem 0 hsla(0, 93%, 68%, 0.3);

    //responsive
    @include desktop-responsive() {
        padding: 0.8rem 2.5rem;
    }
}

.content__errormsg {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    color: $softRed;
    font-size: 0.8rem;
    margin: 0.5rem 0 0 1rem;
    display: none;
}