@import "./fonts";
@import "./typography";
@import "./color";
@import "./responsive";
@import "./index";



//reset default style
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//body
body {
    min-height: 100vh;
    background: $gradient;
    display: flex;
    justify-content: center;
    align-items: center;
}